body{
	background-color: #E5F3F2;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	min-height: 100vh;
}

main{
	display: block;
  	font-family: 'Roboto Slab', serif;
}

h1{
	color: #00A79D;
	display: block;
	font-size: 5vw;
	font-weight: 800;
	margin: 30px;
	text-align: center;
}

span{
	color: #6D6E71;
}

.title-input,
.body-input,
.delete,
.idea-input,
.search-input,
.quality,
.up-vote, .down-vote{
	padding: 5px;
}

.quality,
.up-vote, .down-vote{
	display: inline-block;
	margin-right: 10;
}

.up-vote,
.up-vote:hover,
.down-vote,
.down-vote:hover,
.delete,
.delete:hover{
	display: inline-block;
	height: 3vw;
	width: 3vw;
}
.up-vote{
	background-image: url(images/upvote.svg);
}

.up-vote:hover{
	background-image: url(images/upvote-hover.svg);
}

.down-vote{
	background-image: url(images/downvote.svg);
}

.down-vote:hover{
	background-image: url(images/downvote-hover.svg);
}

.delete{
	background-image: url(images/delete.svg);
}

.delete:hover{
	background-image: url(images/delete-hover.svg);
}

.input,
.save-button,
.ideas{
	box-sizing: border-box;
	display: block;
	font-size: 3vw;
	margin: 2vw auto;
	width: 60vw;
}

.input{
	border: 2px solid #D5D5D7;
	padding-left: 5px;
	font-size: 2.5vw;
	font-weight: 500;
}

.input::placeholder{
	color: #D5D5D7;
}

.save-button{
	background-color: #00A79D;
	border-style: none;
	color: #FFF;
	font-size: 2.75vw;
	min-height: 4.5vw;
}

.save-button:hover{
	background-color: #045E55;
	color: #FFF;
}

section{
	background-color: #FFF;
	padding-top: 10px;
	min-height: 100vh;
}

.ideas{
	background-color: #FFF;
	color: #455A64;
	display: block;
	margin: 20px;
	margin: auto;
}

button.ideas,
h2{
	display: inline-block;
}

.delete{
	float: right;
}

.delete,
.up-vote, .down-vote{
	max-height: 3vw;
	max-width: 3vw;
	padding: 0;
}

h2.title-input,
.quality{
	color: #6D6E71;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
}

.quality,
.quality-type{
	font-size: 2.25vw;
}

.quality-type{
	display: inline-block;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 500;
	padding: 5px;
	margin-right: 20px;
}

.idea-input	{
	color: #939598;
	font-size: 2vw;
	line-height: 1.5;
	margin: 10px auto 10px;
}