/*Base Styling for Entire Page*/
body{
	background-color: #E5F3F2;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	min-height: 100vh;
}

/*Top Portion*/
main{
	display: block;
  	font-family: 'Roboto Slab', serif;
}

/*Title*/
h1{
	color: #00A79D;
	display: block;
	font-size: 5vw;
	font-weight: 800;
	margin: 30px;
	text-align: center;
}

span{
	color: #6D6E71;
}

/*Input Fields and Buttons*/
.input,
.save-button,
.ideas{
	box-sizing: border-box;
	display: block;
	font-size: 3vw;
	margin: 2vw auto;
	width: 60vw;
}

.input{
	border: 2px solid #D5D5D7;
	padding: 5px;
	font-size: 2.5vw;
	font-weight: 500;
}

.input::placeholder{
	color: #D5D5D7;
}

.save-button{
	background-color: #00A79D;
	border-style: none;
	color: #FFF;
	font-size: 2.75vw;
	min-height: 4.5vw;
}

.save-button:hover{
	background-color: #045E55;
	color: #FFF;
}

/*Bottom Portion and Idea Styling*/
section{
	background-color: #FFF;
	min-height: 100vh;
	padding-top: 10px;
}

button.ideas,
h2{
	display: inline-block;
}

.delete,
.quality,
.up, .down{
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
}

.delete{
	float: right;
}

.up,
.up:hover,
.down,
.down:hover,
.delete,
.delete:hover{
	display: inline-block;
	height: 3vw;
	width: 3vw;
}
.up{
	background-image: url(images/upvote.svg);
}

.up:hover{
	background-image: url(images/upvote-hover.svg);
}

.down{
	background-image: url(images/downvote.svg);
}

.down:hover{
	background-image: url(images/downvote-hover.svg);
}

.delete{
	background-image: url(images/delete.svg);
}

.delete:hover{
	background-image: url(images/delete-hover.svg);
}

h2.title-input,
.quality{
	color: #6D6E71;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	padding-top: -5px;
}

.quality,
.quality-type{
	font-size: 2.25vw;
}

.quality-type{
	display: inline-block;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 500;
	margin-right: 20px;
	padding: 5px;
}

.idea-input{
	color: #939598;
	font-size: 2vw;
	line-height: 1.5;
	margin: 10px auto 10px;
}

/*Media Queries*/
@media screen and (max-width: 550px){
	/*Main Portioin*/
	main{
		height: 60%;
	}

	/*Title*/
	h1{
		font-size: 10vw;
		margin: 3vh auto 4vh;
	}

	/*Input Fields and Buttons*/
	.input.title-input,
	.input.body-input,
	.input.search-input,
	.save-button,
	.ideas{
		font-size: 7vw;
		margin-bottom: 3vh;
		outline: 0;
		width: 85%;
	}

	.save-button{
		font-size: 6vw; 
		mar: -.5vw;
	}

	/*Bottom Portion and Idea Styling*/
	.title-input{
		font-size: 6.1vw;
	}

	.body-input {
		font-size: 6vw;
		padding-bottom: 15vh;
	}

	.idea-input{
		font-size: 4vw;
		font-weight: 600;
	}

	.quality,
	.quality-type{
		font-size: 4.25vw;
	}
}